/* Colors */
/* Sizes */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  line-height: 1.6; }

ul {
  list-style-type: none; }

/* Utility Classes */
.container {
  max-width: 110rem;
  margin: auto; }

.active {
  display: block; }

.hidden {
  display: none; }

.btn {
  border: none;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 1.5rem 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #212121;
  text-decoration: none;
  transition: all .3s;
  border-radius: 10rem; }
  .btn:hover {
    cursor: pointer; }

.bolded {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: #212121; }

#navbar {
  background-color: #303F9F;
  color: #FFFFFF;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  border-bottom: 1px solid #BDBDBD; }
  #navbar .toggle {
    width: 100%;
    padding: 1rem 2rem;
    background-color: #303F9F;
    font-size: 3rem;
    display: none; }
    #navbar .toggle:hover {
      cursor: pointer; }
    #navbar .toggle .logo {
      display: flex;
      align-items: center;
      justify-self: flex-start; }
      #navbar .toggle .logo img {
        width: 3.5rem;
        height: 3.5rem; }
    #navbar .toggle .menu {
      margin-left: auto; }
    @media (max-width: 768px) {
      #navbar .toggle {
        display: flex; } }
  #navbar .navlist {
    /* display: none; */
    /* REMOVE after testing */ }
    @media (min-width: 769px) {
      #navbar .navlist {
        display: flex;
        justify-content: center; } }
    @media (max-width: 768px) {
      #navbar .navlist.active {
        width: 100%;
        display: none; } }
    #navbar .navlist__item {
      list-style-type: none;
      display: inline-block;
      padding: 2rem; }
      #navbar .navlist__item:hover {
        background-color: #FF5722; }
      @media (max-width: 767px) {
        #navbar .navlist__item {
          display: block;
          text-align: center; } }
    #navbar .navlist__link:link, #navbar .navlist__link:visited {
      display: block;
      text-decoration: none;
      color: #FFFFFF;
      font-size: 1.8rem;
      text-transform: uppercase; }

#header {
  background-color: #3F51B5; }
  #header .header-container {
    color: #FFFFFF;
    padding: 2rem 2rem;
    display: grid;
    grid-gap: 3rem;
    margin-top: 3rem; }
    @media (max-width: 500px) {
      #header .header-container {
        grid-gap: 4rem; } }
    #header .header-container .header-heading h1 {
      font-size: 4rem;
      font-family: "Montserrat", sans-serif;
      line-height: 5.5rem; }
      @media (min-width: 850px) {
        #header .header-container .header-heading h1 {
          font-size: 10rem;
          line-height: 12.7rem; } }
  #header .divide {
    width: 9rem;
    height: 1.2rem;
    background-color: #FFFFFF; }
  #header .header-text {
    font-size: 1.8rem;
    font-family: "Lato", Arial, sans-serif; }
    @media (min-width: 768px) {
      #header .header-text {
        font-size: 3rem; } }
  #header .header-btn-container {
    padding: 1rem 0 5rem 0; }
    #header .header-btn-container .header-btn {
      background-color: #FF5722;
      max-width: 18rem;
      transition: all .3s;
      padding: 1.5rem 3rem; }
      #header .header-btn-container .header-btn:hover {
        background-color: #ff4409;
        color: #FFFFFF; }

#work {
  background-color: #C5CAE9;
  padding: 2rem; }
  #work .work-heading {
    margin-top: 3rem; }
    #work .work-heading h3 {
      font-size: 2.8rem;
      text-align: center;
      font-family: "Montserrat", sans-serif;
      color: #212121; }
  #work .work-container {
    padding: 2rem;
    margin: 3rem auto; }
    #work .work-container ul {
      list-style-type: none;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 3rem; }
      @media (min-width: 500px) {
        #work .work-container ul {
          grid-template-columns: repeat(2, 1fr); } }
      #work .work-container ul li {
        padding: 0.5rem;
        border: 2px solid #b3b9e2;
        border-radius: 1rem;
        background-color: #303F9F; }
        #work .work-container ul li a:link,
        #work .work-container ul li a:visited {
          text-decoration: none;
          display: flex;
          justify-content: center;
          align-content: center; }
          #work .work-container ul li a:link .img-overlay,
          #work .work-container ul li a:visited .img-overlay {
            position: relative;
            overflow: hidden; }
            #work .work-container ul li a:link .img-overlay:hover .img-hover,
            #work .work-container ul li a:visited .img-overlay:hover .img-hover {
              opacity: 1; }
            #work .work-container ul li a:link .img-overlay:hover img,
            #work .work-container ul li a:visited .img-overlay:hover img {
              opacity: 0.7;
              transform: scale(1.3); }
            #work .work-container ul li a:link .img-overlay:hover .img-hover .img-text,
            #work .work-container ul li a:visited .img-overlay:hover .img-hover .img-text {
              color: #FFFFFF;
              font-weight: bold; }
            #work .work-container ul li a:link .img-overlay img,
            #work .work-container ul li a:visited .img-overlay img {
              display: block;
              width: 100%;
              height: 100%;
              transition: all 0.3s ease-in;
              backface-visibility: hidden;
              border-radius: 1rem;
              transform: scale(1); }
            #work .work-container ul li a:link .img-overlay .img-hover,
            #work .work-container ul li a:visited .img-overlay .img-hover {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              opacity: 0;
              transition: all 0.3s ease-in; }
              #work .work-container ul li a:link .img-overlay .img-hover .img-text,
              #work .work-container ul li a:visited .img-overlay .img-hover .img-text {
                color: #FFFFFF;
                font-family: "Lato", Arial, sans-serif;
                text-align: center;
                font-size: 2rem; }
  #work .btn-container {
    text-align: center;
    margin: 5rem 0 5rem 0; }
    #work .btn-container .work-btn {
      background-color: transparent;
      transition: all 0.3s;
      border: 2px solid #FF5722;
      padding: 1.5rem 5rem; }
      #work .btn-container .work-btn:hover {
        background-color: #FF5722;
        color: #FFFFFF; }

#roadmap {
  padding: 2rem; }
  #roadmap .roadmap-heading {
    margin-top: 3rem; }
    #roadmap .roadmap-heading h3 {
      font-size: 2.8rem;
      text-align: center;
      font-family: "Montserrat", sans-serif;
      text-transform: capitalize; }
  #roadmap .roadmap-container {
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    grid-gap: 5rem;
    margin: 3rem auto; }
    @media (min-width: 768px) {
      #roadmap .roadmap-container {
        grid-template-columns: repeat(3, 1fr); } }
    #roadmap .roadmap-container .roadmap-box {
      text-align: center;
      display: grid;
      justify-items: center;
      align-items: center;
      grid-gap: 1rem; }
      #roadmap .roadmap-container .roadmap-box .roadmap-icon {
        width: 3.5rem;
        height: 3.5rem;
        fill: #303F9F; }
      #roadmap .roadmap-container .roadmap-box h3 {
        font-size: 2rem;
        font-family: "Montserrat", sans-serif; }
      #roadmap .roadmap-container .roadmap-box p {
        font-size: 1.6rem;
        font-family: "Lato", Arial, sans-serif; }

#cooperation {
  text-align: center;
  padding: 5rem 2rem;
  background-color: #3F51B5;
  color: #212121; }
  #cooperation .cooperation-container h3 {
    font-size: 3.2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700; }
  #cooperation .cooperation-container h4 {
    font-size: 2rem;
    font-weight: 400;
    font-family: "Lato", Arial, sans-serif; }
  #cooperation .cooperation-container .btn-container {
    text-align: center;
    margin: 5rem 0; }
    #cooperation .cooperation-container .btn-container .cooperation-btn {
      font-size: 1.4rem;
      padding: 1.5rem 5rem;
      transition: all 0.3s;
      background-color: transparent;
      border: 2px solid #FF5722;
      color: #FFFFFF; }
      #cooperation .cooperation-container .btn-container .cooperation-btn:hover {
        background-color: #FF5722;
        color: #212121; }

.footer .footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 5rem;
  text-align: center;
  margin-top: 3rem;
  /* @media (max-width: 500px) {
      grid-template-columns: 1fr;
    } */ }
  .footer .footer-container .footer-logo {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    grid-column: 1 / -1;
    margin-bottom: 1rem; }
    .footer .footer-container .footer-logo img {
      width: 5.5rem;
      height: 5.5rem;
      margin-bottom: 1rem; }
    .footer .footer-container .footer-logo p {
      font-size: 1.8rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      color: #212121;
      padding-bottom: .8rem; }
    .footer .footer-container .footer-logo .divide {
      background-color: #FF5722;
      width: 10rem;
      height: .3rem; }
  .footer .footer-container .blog {
    margin-left: .5rem; }
    .footer .footer-container .blog ul {
      display: grid;
      grid-gap: 0.3rem; }
      .footer .footer-container .blog ul li a:link,
      .footer .footer-container .blog ul li a:visited {
        text-decoration: none;
        font-size: 1.6rem;
        font-family: "Montserrat", sans-serif;
        color: #212121; }
  .footer .footer-container .social ul {
    display: grid;
    grid-gap: 0.3rem; }
    .footer .footer-container .social ul li a:link,
    .footer .footer-container .social ul li a:visited {
      text-decoration: none;
      font-size: 1.6rem;
      font-family: "Montserrat", sans-serif;
      color: #212121; }
  .footer .footer-container .professional ul {
    display: grid;
    grid-gap: 0.3rem;
    margin-right: .5rem; }
    .footer .footer-container .professional ul li a:link,
    .footer .footer-container .professional ul li a:visited {
      text-decoration: none;
      font-size: 1.6rem;
      font-family: "Montserrat", sans-serif;
      color: #212121; }
  .footer .footer-container .copyright {
    padding: 2rem;
    grid-column: 1 / -1;
    text-align: center;
    background-color: #C5CAE9;
    margin-top: 3rem; }
    .footer .footer-container .copyright p {
      font-size: 1.4rem;
      font-family: "Montserrat", sans-serif;
      color: #212121;
      font-weight: 700; }
