/* Colors */
$primary-color-dark:   #303F9F;
$primary-color:        #3F51B5;
$primary-color-light:  #C5CAE9;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF5722;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
$color-text-grey:      #6e6e6e;

/* Sizes */
$container-width: 110rem;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

/* Utility Classes */
.container {
    max-width: $container-width;
    margin: auto;
}

.active {
    display: block;
}

.hidden {
    display: none;
}

.btn {
    border: none;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 1.5rem 2.5rem;
    font-family: $font-primary;
    font-weight: bold;
    color: $primary-text-color;
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
}

.bolded {
    font-family: $font-primary;
    font-size: 1.6rem;
    font-weight: 700;
    color: $primary-text-color;
}

/* Header */
#header {
    background-color: $primary-color;

    .header-container {
        color: $primary-color-text;
        padding: 4rem 2rem;
        display: grid;
        grid-gap: 2rem;

        .header-heading {

            h1 {
                font-size: 4.4rem;
                font-family: $font-primary;
                line-height: 5.5rem;

                @media (min-width: 768px) {
                    font-size: 10rem;
                    line-height: 12.7rem;
                }
            }
        }
    }

    .divide {
        width: 9rem;
        height: 1.2rem;
        background-color: $primary-color-text;
    }

    .header-text {
        font-size: 2rem;
        font-family: $font-secondary;

        @media (min-width: 768px) {
            font-size: 3rem;
        }
    }

    .header-btn {
        background-color: $accent-color;
        max-width: 18rem;

        &:hover {
            background-color: darken($accent-color, 5%);
        }
    }
}

/* Work */
#work {
    background-color: $primary-text-color;
    padding: 2rem;

    .work-container {
        padding-top: 2rem;

        ul {
            list-style-type: none;
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 3rem;

            @media (min-width: 500px) {
                grid-template-columns: repeat(2, 1fr);
            }

            li {
                padding: 1rem;
                border: 2px solid $primary-color-light;
                border-radius: 1rem;

                a:link,
                a:visited {
                    text-decoration: none;
                    font-size: 2rem;

                    .img-overlay {
                        position: relative;

                        &:hover .img-hover {
                            opacity: 1;
                        }

                        &:hover img {
                            opacity: .9;
                        }

                        &:hover .img-hover .img-text {
                            color: $primary-color-text;
                            font-weight: bold;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            transition: all .4s ease-in;
                            backface-visibility: hidden;
                            border-radius: 1rem;
                        }

                        .img-hover {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            opacity: 0;
                            transition: all .3s ease-in;

                            .img-text {
                                color: $primary-color-text;
                                font-family: $font-secondary;
                            }
                        }
                    }
                }
            }
        }
    }

    .btn-container {
        text-align: center;
        margin: 5rem 0 1rem 0;

        .work-btn {
            font-size: 1.4rem;
            padding: 1.5rem 3rem;
            background-color: transparent;
           
            transition: all .3s;
            border: 2px solid $accent-color;

            &:hover {
                background-color: $accent-color;
                color: $primary-color-text;
            }
        }
    }
}

/* Inspiration */
#inspiration {
    padding: 2rem;

    h3 {
        font-size: 2.8rem;
        text-align: center;
        font-family: $font-primary;
    }

    .inspiration-container {
        padding: 2rem;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        grid-gap: 5rem;
        margin: 3rem auto;
        

        @media (min-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
        }

        .quote {
            text-align: center;

            figure {
                display: grid;
                justify-items: center;
                align-items: center;
                
                img {
                    display: block;
                    width: 10rem;
                    height: 10rem;
                    border-radius: 50%;
                    margin-bottom: 1rem;
                }

                figcaption {
                    display: grid;
                    grid-row-gap: 1rem;

                    h4 {
                        font-size: 2rem;
                        font-family: $font-primary;
                    }

                    h5 {
                        font-size: 1.3rem;
                        text-transform: uppercase;
                        font-family: $font-primary;
                        color: $color-text-grey;
                    }

                    p {
                        font-size: 1.8rem;
                        font-family: $font-secondary;
                        color: $color-text-grey;
                    }
                }
            }
        }
    }
}

/* Cooperation */
#cooperation {
    text-align: center;
    padding: 5rem 2rem;
    background-color: $primary-color;
    color: $primary-text-color;

    .cooperation-container {

        h3 {
            font-size: 3.2rem;
            font-family: $font-primary;
            font-weight: 700;
        }

        h4 {
            font-size: 2rem;
            font-weight: 400;
            font-family: $font-secondary;
        }

        .btn-container {
            text-align: center;
            margin: 5rem 0;

            .cooperation-btn {
                font-size: 1.4rem;
                padding: 1.5rem 3rem;
                transition: all .3s;
                background-color: transparent;
                border: 2px solid $accent-color;
                color: $primary-color-text;

                &:hover {
                    background-color: $accent-color;
                    color: $primary-text-color;
                }
            }
        }
    }
}

/* Footer / Contact */
.footer {
    padding: 5rem 2rem .5rem 2rem;

    .footer-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        text-align: center;

        .footer-logo {
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
            grid-column: 1 / -1;
            margin-bottom: 1rem;

            img {
                width: 5.5rem;
                height: 5.5rem;
                margin-bottom: 1rem;
            }

            p {
                font-size: 1.6rem;
                font-family: $font-primary;
            }
        }

        .blog {
            ul {
                display: grid;
                grid-gap: .3rem;

                li {
                    a:link,
                    a:visited {
                        text-decoration: none;
                        font-size: 1.6rem;
                        font-family: $font-primary;
                        color: $primary-text-color;
                    }
                }
            }
        }

        .social {
            ul {
                display: grid;
                grid-gap: .3rem;

                li {
                    a:link,
                    a:visited {
                        text-decoration: none;
                        font-size: 1.6rem;
                        font-family: $font-primary;
                        color: $primary-text-color;
                    }
                }
            }
        }

        .professional {
            ul {
                display: grid;
                grid-gap: .3rem;

                li {
                    a:link,
                    a:visited {
                        text-decoration: none;
                        font-size: 1.6rem;
                        font-family: $font-primary;
                        color: $primary-text-color;
                    }
                }
            }
        }

        .copyright {
            padding: 1rem;
            grid-column: 1 / -1;
            text-align: center;
            
            p {
                font-size: 1.4rem;
                font-family: $font-primary;
                color: $primary-text-color;
                font-weight: 700;
            }
        }
    }
}