.footer {

  .footer-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    grid-gap: 5rem;
    text-align: center;
    margin-top: 3rem;

    @media (min-width: 48em) {
      grid-template-columns: repeat(3, 1fr);
    }

    .footer-logo {
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      grid-column: 1 / -1;
      margin-bottom: 1rem;

      img {
        width: 5.5rem;
        height: 5.5rem;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.8rem;
        font-family: $font-primary;
        font-weight: 700;
        color: $primary-text-color;
        padding-bottom: .8rem;
      }

      .divide {
        background-color: $accent-color;
        width: 10rem;
        height: .3rem;
      }
    }

    .blog {
      margin-left: .5rem;

      ul {
        display: grid;
        grid-gap: 0.3rem;

        li {
          a:link,
          a:visited {
            text-decoration: none;
            font-size: 1.6rem;
            font-family: $font-primary;
            color: $primary-text-color;
          }
        }
      }
    }

    .social {
      ul {
        display: grid;
        grid-gap: 0.3rem;

        li {
          a:link,
          a:visited {
            text-decoration: none;
            font-size: 1.6rem;
            font-family: $font-primary;
            color: $primary-text-color;
          }
        }
      }
    }

    .professional {
      ul {
        display: grid;
        grid-gap: 0.3rem;
        margin-right: .5rem;

        li {
          a:link,
          a:visited {
            text-decoration: none;
            font-size: 1.6rem;
            font-family: $font-primary;
            color: $primary-text-color;
          }
        }
      }
    }
  }

  .copyright {
    padding: 1rem;
    grid-column: 1 / -1;
    text-align: center;
    background-color: darken($primary-color-light, 10%);
    margin-top: 5rem;

    .arrow-container {
      background-color: $primary-color;
      display: inline-block;
      padding: 1.5rem;
      border-radius: 50%;
      transform: translateY(-4rem);

      .arrow-top {
        font-size: 3rem;
        color: $primary-color-text;
      }
    }

    p {
      font-size: 1.4rem;
      font-family: $font-primary;
      color: $primary-text-color;
      font-weight: 700;
      padding-bottom: 1rem;
    }
  }
}
