#resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem 0 2rem;

   /*  @media (min-width: 48em) {  // 768px
        padding: 5rem 5rem 0 5rem;
    } */

    h2 {
        font-size: 2.8rem;
        text-align: center;
        font-family: $font-primary;
        text-transform: capitalize;
    }

    .timeline {
        margin: 5rem 0 5rem 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5rem;
        padding: 1rem;

        @media (min-width: 48em) {  // 768px
            grid-template-columns: repeat(2, 1fr);
            padding: 3rem;
        }

        .item {
            background-color: $primary-color;
            padding: 2rem;
            border-radius: 1rem;
            display: grid;
            grid-gap: 1rem;

            h4 {
                font-size: 2rem;
                font-family: $font-primary;
                color: $primary-color-text;
            }   

            h5 {
                font-size: 1.8rem;
                font-family: $font-secondary;
            }

            a {
               &:link,
               &:visited {
                text-decoration: none;
                font-size: 1.4rem;
                color: $primary-color-text; 
                background-color: $accent-color;
                padding: .5rem 1rem;
                border-radius: 10rem;
                max-width: min-content;
               }

               &.link-blue {
                   background-color: $linkedin-color;
               }

               &.link-green {
                   background-color: darken($freecodecamp-color, 5%);
               }

               &.link-azure {
                   background-color: $udacity-color;
               }

               &.link-pink {
                   background-color: $udemy-color;
               }
            }

            p {
                font-size: 1.6rem;
                font-family: $font-secondary;
                color: $primary-color-text;
            }
        }
    }
}