#roadmap {
  padding: 2rem;

  .roadmap-heading {
    margin-top: 3rem;

    h3 {
      font-size: 2.8rem;
      text-align: center;
      font-family: $font-primary;
      text-transform: capitalize;
    }
  }

  .roadmap-container {
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    grid-gap: 5rem;
    margin: 3rem auto;

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }

    .roadmap-box {
      text-align: center;
      display: grid;
      justify-items: center;
      align-items: center;
      grid-gap: 1rem;

      figure {

        img {
          display: block;
          width: 20rem;
          height: 20rem;
        }
      }

     /*  .roadmap-icon {
        width: 5.5rem;
        height: 5.5rem;
        fill: $primary-color-dark;
        padding: 1.5rem;
        background-color: $primary-color;
        border-radius: 50%;
        fill: $primary-color-text;
      } */

      h3 {
        font-size: 2rem;
        font-family: $font-primary;
      }

      p {
        font-size: 1.6rem;
        font-family: $font-secondary;
      }
    }
  }
}
