/* Colors */
$primary-color-dark:   #303F9F;
$primary-color:        #3F51B5;
$primary-color-light:  #C5CAE9;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF5722;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
$color-text-grey:      #6e6e6e;

/* Sizes */
$container-width: 110rem;

/* Social Badges */
$linkedin-color: #0077B5;
$freecodecamp-color: #006400;
$udacity-color: #02B3E4;
$udemy-color: #EA5252;