#work {
  background-color: $primary-color-light;
  padding: 2rem;

  .work-heading {
    margin-top: 3rem;

    h3 {
      font-size: 2.8rem;
      text-align: center;
      font-family: $font-primary;
      color: $primary-text-color;
    }
  }

  .work-container {
    padding: 2rem;
    margin: 3rem auto;
    display: flex;
    justify-content: center;

    .grid-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 3rem;
      justify-items: center;

      @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (min-width: 1100px) {
        grid-template-columns: repeat(2, minmax(auto, 50rem));
      }

      .img-overlay {
        position: relative;
        overflow: hidden;
        border-radius: 12px;

        &:hover .img-hover {
          opacity: 1;
        }

        &:hover img {
          opacity: 0.8;
          transform: scale(1.1);
        }

        &:hover .img-hover .img-title {
          color: $primary-color-text;
          font-weight: bold;
        }

        &:hover .img-hover .img-desc {
          color: $primary-color-text;
        }

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: all 0.3s ease-in;
          backface-visibility: hidden;
          transform: scale(1);
        }

        .img-hover {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;
          transition: all 0.3s ease-in;
          background-color: $primary-color-dark;
          /* padding: 1rem 2rem; */
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          z-index: 1;
          
          .img-title {
            color: $primary-color-text;
            font-family: $font-primary;
            text-align: center;
            font-size: 1.6rem;

            @media (min-width: 768px) {
              font-size: 1.8rem;
            }

            @media (min-width: 1100px) {
              font-size: 2rem;
            }
          }

          .img-desc {
            color: $primary-color-text;
            font-size: 1.4rem;
            font-family: $font-secondary;
            text-align: center;
            margin-top: 2rem;
            max-width: 80%;

            @media (min-width: 768px) {
              font-size: 1.6rem;
              max-width: 50%;
            }

            @media (min-width: 1100px) {
              font-size: 1.8rem;
            }
          }

          .img-btn {
            background-color: transparent;
            transition: all 0.3s;
            border: 2px solid $accent-color;
            padding: 1rem 2rem;
            color: $primary-color-text;
            width: 50%;
            text-align: center;
            margin-top: 3rem;
      
            &:hover {
              background-color: $accent-color;
            }
          }
        }
      }
    }
  }

  .btn-container {
    text-align: center;
    margin: 5rem 0 5rem 0;

    .work-btn {
      background-color: transparent;
      transition: all 0.3s;
      border: 2px solid $accent-color;
      padding: 1.5rem 5rem;

      &:hover {
        background-color: $accent-color;
        color: $primary-color-text;
      }
    }
  }
}
